@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

  /* Hide scrollbar for all browsers */
* {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

*::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and newer Edge */
}
html {
    scroll-behavior: smooth;
    user-select: none;
}
/* Add these styles to your CSS file */
.remote-cursor {
  background-color: rgba(255, 0, 255, 0.5);
  width: 2px !important;
  height: 18px !important;
}

.remote-cursor-name {
  position: absolute;
  top: -20px;
  padding: 2px 4px;
  font-size: 10px;
  color: white;
  border-radius: 3px;
  white-space: nowrap;
  pointer-events: none;
}


